@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  

}
.main{
  height:852px;
  background-color: #f2faff;
  width: 393px;
  margin: 50px auto;
  border-radius: 47px;
  position: relative;
  border: 5px solid black;
  padding:40px 20px 20px 10px;

 
}
.operator-name{
  position: absolute;
  top: 16px;
  left: 30px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.dynamic-island{
  width: 126px;
  height: 36px;
  background: black;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 10px;
  position: center;
  left: 100px;
  z-index: 99999;
  transition: all .5s;
}

.dynamic-island-camera{
  color: white;
  position: absolute;
  top: 18px;
  right: 110px;
  background: #121212;
  box-shadow: 0 0 1px grey;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  z-index: 99999;
  transition: all .5s;
}

.operator-icons{
  position: absolute;
  top: 16px;
  right: 70px;
  font-size: 14px;
  transition: all .2s;
  color: rgb(0, 0, 0);
}

.battery{
  width: 20px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: #000000;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: -28px;
}



.incident-title , .missing-person-title{
  margin: 50px auto;
  font-family: 'Abel', sans-serif;
  width: 360px;
  text-align: center;
  padding: 5px ;
  font-size: 28px;
  background-color: #FFFFFF;
  border-radius: 20px;
  
}
.call-link{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
text-shadow: 1px 1px black;

  color: hsl(0, 0%, 100%);
  margin: 20px auto;
  padding: 10px 5px;
  text-align: center;
  background-color: #FF0000;
  border:1px solid black;
  box-shadow:rgba(0, 0, 0, 0.25) ;
  width: 360px;
  border-radius: 20px;

}
.call-link a{
  text-shadow: 2px 2px black;
  text-decoration: none;
  color: #FFFFFF;
}
.incident-types{
  background-color: #FFFFFF;
  padding: 8px  10px 2px 10px;
  width: 266px;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  column-gap: 5%; 
  margin: 30px auto;
}
.image-background-container{
  background-color: #58AEE8;
  display: flex;
  align-content: center;
  justify-content: center;
}
.button-image{
  width: 75px;
  height: 82px; 
}

button{
  font-family: 'Abel', sans-serif;
  background-color: transparent;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  padding:0px 10px;
  font-size: 13px;
  
}
button a{
  text-decoration: none;
  color: black;
}

.missing-profiles{
  width: 360px;
  display: grid;
  grid-template-columns:  auto auto auto;
  margin: 30px auto;
  
  
}
.profile-card{
  width: 100px;
  text-align: center;
  padding: 20px auto;
  margin: 10px auto;
  
}

.missing-person-image{
  width: 75px;
  height: 75px;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
  text-align: center;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
 margin:0 auto;
}
ul{
  background-color: #58AEE8;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid black;
  list-style: none;
}
li{
  display: inline-block;
  list-style: none;
  padding-inline: 10px;
}
li img{
  width: 50px;
  
}

/*login html page styling */

.login-page{
  
  margin: 40px auto;
  text-align: center;
}

.logo-image{
  margin-bottom: -60px;
  margin-top: -50px;

}
form { 
  margin: 0 auto;
  background-color: #f2faff;
  width: 300px;
  
} 
.container { 
  padding: 25px; 
  border-radius: 5px;
} 
.login-btn { 
       background-color: #58AEE8; 
       width: 100%;
        color: white; 
        padding: 15px; 
        margin: 10px 0px; 
        border: none; 
        cursor: pointer; 
         } 

 input[type=text], input[type=password] { 
        width: 100%; 
        margin: 8px 0;
        padding: 12px 20px; 
        display: inline-block; 
        box-sizing: border-box; 
    }
 button:hover { 
        opacity: 0.7; 
    } 
 
    /* map html styling*/
  
 .google-maps{
  margin: 60px auto;
  display: flex;
  justify-content: center;
 }

 .comment-section{
  margin-left: 20px;
 }
 
 .insert-comment-box{
  margin-top: 25px;
 }

 .submit-btn{       
  background-color: #58AEE8; 
  width: 30%;
   color: white; 
   padding: 10px; 
   margin-top: 10px;

   border: none; 
   cursor: pointer; 
    } 